<div>
  <h3>Location and Directions</h3>

  <p>
    GoRuCo 2009 will be held on May 30th, 2009 at 1 Pace Plaza on the Pace University 
    Campus in Lower Manhattan. Directions to the campus can be found 
    <a href="http://www.pace.edu/page.cfm?doc_id=16157">on their website</a>.
  </p>

  <p>
    Pace Plaza is on Spruce Street between William and Gold Streets. The 4, 5, 6 City Hall
    subway stop provides the shortest, easiest walk to it. GoRuCo organizers and Pace
    students will be just inside the main doors to help register attendees.
  </p>

  <p>
    More detailed directions to the building and a map of the immediate area will be posted soon.
  </p>
</div>