<div>
  <h3>Schedule</h3>
  
  <table class="schedule">
    <tr>
      <td>9:00&nbsp;a.m.</td>
      <td>Registration and breakfast</td>
    </tr>
    <tr>
      <td>9:45&nbsp;a.m.</td>
      <td>Opening Remarks</td>
    </tr>
    <tr>
      <td>10:00&nbsp;a.m.</td>
      <td><a href="/speakers.html#brown">Where is Ruby really heading?</a> Gregory Brown</td>
    </tr>
    <tr>
      <td>10:55&nbsp;a.m.</td>
      <td><a href="/speakers.html#mchugh">The Ruby Guide to *nix Plumbing</a> Eleanor McHugh</td>
    </tr>
    <tr>
      <td>11:50&nbsp;a.m.</td>
      <td><a href="/speakers.html#yoder">Resource-Oriented Architecture With Waves</a> Dan Yoder</td>
    </tr>
    <tr>
      <td>12:35&nbsp;p.m.</td>
      <td>Lunch</td>
    </tr>
    <tr>
      <td>1:45&nbsp;p.m.</td>
      <td><a href="/speakers.html#howerton">Into the Heart of Darkness: Rails Anti-Patterns</a> Jake Howerton</td>
</tr>
<tr>
  <td>2:40&nbsp;p.m.</td>
  <td><a href="/speakers.html#metz">SOLID Object Oriented Design</a> Sandi Metz</td>
  </tr>
  <tr>
  <td>3:25&nbsp;p.m.</td>
  <td>Break</td>
</tr>
<tr>
  <td>3:45&nbsp;p.m.</td>
  <td><a href="/speakers.html#stein">Building Cross Platform Mobile Apps with Ruby & PhoneGap</a> Ben Stein</td>
  </tr>
<tr>
<td>4:40&nbsp;p.m.</td>
<td><a href="/speakers.html#katz">From Rails to Rack: Making
  Rails 3 a Better Ruby Citizen</a> Yehuda Katz</td>
  </tr>
  <tr>
  <td>5:35&nbsp;p.m.</td>
<td>RejectConf</td>
</tr>
  </table>
</div>
