<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/site.css" type="text/css" media="screen">
    <!--[if lt IE 7]>
    <link rel="stylesheet" href="/css/ie6.css" type="text/css" media="screen">
    <![endif]-->
    <script type="text/javascript" src="/javascripts/jquery-1.3.1.min.js"></script>
  </head>

  <body>
    <div id="goruco">

      <div id="header-wrap">
        <div id="header">
          <a href="/" id="logo"><img src="/images/logo-dark.gif" /></a>
          {% include navigation.html %}
        </div>
      </div>

      <div id="main-wrap">
        <div id="main">
          <div id="archive-notice">
            You are viewing an archived page. Please visit <a href="http://www.goruco.com/">goruco.com</a> for the most up-to-date information on GoRuCo.
          </div>

          <div id="primary">
            {{ content }}
          </div>
          <div id="secondary">
            {% include sponsors.html %}
            {% include contact.html %}
            {% include elsewhere.html %}
            {% include schedule.html %}
            {% include location.html %}
          </div>
        </div>
      </div>

      <div id="footer-wrap">
        <div id="footer">
          <p>Copyright &copy; 2009, GoRuCo, LLC. All rights reserved.</p>
          {% include navigation.html %}
        </div>
      </div>
    </div>

    <script type="text/javascript" charset="utf-8">
      $(function() {
        $(".{{ page.template }}").addClass("on");
      });
    </script>

    {% include analytics.html %}
  </body>
</html>
